<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="../../../assets/img/LogoGestorHotel.png" alt="" width="60" height="">
  </a>
    <!--btn responsive-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="token == null">
          <a class="nav-link" routerLink="/home" >Home</a>
        </li>
        <li class="nav-item" *ngIf="token == null">
          <a class="nav-link" routerLink="/registro">Register</a>
        </li>
        <li class="nav-item" *ngIf="token == null">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>


    
        <li class="nav-item dropdown"  *ngIf="token != null">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More Options
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!--functions admin app-->
            <li *ngIf="user.role == 'ROLE_ADMIN'"><a routerLink="/saveHotelAdmin" class="dropdown-item">Save Hotel</a></li>
            <li *ngIf="user.role == 'ROLE_ADMIN'"><a routerLink="/updateUserAdmin" class="dropdown-item">Update User</a></li>
            <li *ngIf="user.role == 'ROLE_ADMIN'"><a routerLink="/searchUser" class="dropdown-item">Search User</a></li>
            <!--functions user-->
            <li *ngIf="user.role == 'USER'"><a routerLink="/user" class="dropdown-item">Update User</a></li>
            <li><hr class="dropdown-divider"></li>
            <!--functions Admin Hotel-->
            <li *ngIf="user.role == 'ADMINH'"><a routerLink="/updateHotel" class="dropdown-item">Update Hotel</a></li>
            <li *ngIf="user.role == 'ADMINH'"><a routerLink="/deleteHotel" class="dropdown-item">Delete Hotel</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logOut()">Log Out</a></li>
          </ul>
        </li>
   
        <!--Navbar-->
        <li class="nav-item" *ngIf="token != null">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" *ngIf="token != null">
          <a class="nav-link" routerLink="/searchH">Search Hotel</a>
        </li>
        <li class="nav-item" *ngIf="token != null">
          <a class="nav-link" routerLink="/evento">Events</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="token != null">
        <li class="nav-text">
          <a class="nav-link">{{user.username}}</a>
        </li>
        <li>
          <img *ngIf="user.image" id="imgUser" src="{{uri+'uploadImage/'+user.image}}" alt="user image">
        </li>
      </ul>
    </div>
  </div>
</nav>