<body> 
  <div   [@fadeIn] class="p-3 mb-2 bg-danger text-white">
    <div class="img-logo">
      <img src="../../../assets/img/hotel (1).png" alt="" width="230" height="230">
    </div>
    <div class="title">
     <h1>BUSCAR HOTEL</h1>
    </div>
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="Search...">
        <a class="search_icon"><i class="fas fa-search" aria-current="page" routerLink="/resultHotel"></i></a>
      </div>
    </div>
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-dark btn-lg btn-block" routerLink="/hotel">listar</button>
    </div>
  </div>
</body>
    


