<app-navbar></app-navbar>
<div id="cards">
  <div class="card mio" style="width: 18rem;" *ngFor=" let i = index">
      <img src="../../../assets/img/EventIcon.PNG"  alt="...">
      <div class="card-body">
        <h5 class="card-title">{{event.name}}</h5>
        <p class="card-text">Estado: {{event.estado}}</p>
        <p class="card-text">Precio: {{event.precio}}</p>
        <p class="card-text">Fecha: {{event.fecha}}</p>
        <p class="card-text">Hora: {{event.hora}}</p>
      </div>
    </div>
</div>

<!-- MODAL PARA ELIMINAR CONTACTO-->
<!--<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalRemove" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalRemove">Danger Zone!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="mt-5 mb-3 text-muted text-center">Are you shure to delte this event?</span>
        <h4 class="text-center">{{eventSelected.name}}</h4>
        <h3 class="text-center">This action is irreversible!</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-danger" (click)="removeEvent()">I'm sure</button>
      </div>
    </div>
  </div>
</div>-->


